.main-content {
    margin-left: 80px;
    padding: 20px;
    background-color: #ffffff; 
    margin-top: 20px; 
    margin-right: 20px;
}

.lang-blue {
    background-color: #c1cfec;
}

.interest-label {
    border: 1px solid #ccc;
    padding: 8px 14px;
    border-radius: 8px;
    cursor: pointer;
    background: #ffffff;
    transition: background 0.2s, color 0.2s;
}

/* checked状態のとき */
.btn-check:checked + .interest-label {
    background-color: #F5A59E; 
    color: white;
    border-color: #F5A59E;
}

.interest-label-sm {
    display: inline-block; 
    background: #fadad8; 
    padding: 2px 6px; 
    margin: 2px; 
    border-radius: 4px;
}

.btn-yellow {
    display: inline-flex; 
    align-items: center;  
    justify-content: center;
    font-size: medium;
    border: 1px solid ;
    padding: 8px 14px;
    border-radius: 8px;
    background: #eca133;
    color: #ffffff;
    text-decoration: none;
    line-height: 1;
}

.btn-red {
    display: inline-flex; 
    align-items: center;  
    justify-content: center;
    font-size: medium;
    border: 1px solid ;
    padding: 8px 14px;
    border-radius: 8px;
    background: #F5A59E;
    color: #ffffff;
    text-decoration: none;
    line-height: 1;
}

.btn-gray {
    display: inline-flex; 
    align-items: center;  
    justify-content: center;
    font-size: medium;
    border: 1px solid #ccc;
    padding: 8px 14px;
    border-radius: 8px;
    background: #ccc;
    color: #333;
    text-decoration: none;
    line-height: 1;
}

.image-md {
    height: 3.5rem;
    width: 3.5rem;
    object-fit: cover;
}

.icon-md {
    font-size: 5rem;
}

.nav-body {
    background-color: #c1cfec; 
    width: 80px; 
    z-index: 1050;
}

.nav-logo {
    width: 40px; 
    height: 40px;
}

.menu-size {
    top: 70px; 
    left: 80px; 
    width: 180px;
}

.modal-backdrop {
    position: fixed;
    inset: 0;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
    z-index: 1050;
}

.modal-content {
    background-color: white;
    padding: 1.5rem;
    border-radius: 0.5rem;
    width: 400px;
    max-width: 90%;
    z-index: 1060;
}





